/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

h1 {
    font-family: 'Arvo', serif;
}

body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
}

/*main {
    height: 74vh;
    margin: 3vh 1vw;
}

/*.principal__contenedor {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    gap: 10vw;
}
#seccion__comer {
    background-image: url('./images/eat-bg.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

#seccion__beber {
    height: 100%;
    background-image: url('./images/drink-bg.jpeg');
    background-size: cover;
    border: #CEAB93 solid 3px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}*/

.navbar, footer {
    background-color: #E3CAA5;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: #5E0B15;
}

