/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

h1 {
    font-family: 'Arvo', serif;
    color: white;
}

body {
    font-family: 'Cormorant Garamond', serif;
}

#cartaComida {
    background-image: url(./images/eat-bg.jpeg);
}

.navbar, footer {
    background-color: #DD4740;
}

.nav-link {
    color: antiquewhite;
}

.nav-link:hover {
    color: black;
}

.navbar-toggler {
    background-color: antiquewhite;
}

main a {
    list-style: none;
    text-decoration: none;
    background-color: rgba(250, 235, 215, 0.836);
    border-radius: 10px;
}

main a:hover {
    color: #ce331f;

}