/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');

h1 {
    font-family: 'Arvo', serif;
    color: white;
}

body {
    font-family: 'Nixie One', cursive;
}

/*colores*/

/*machete de colores
rojo: DD4740
clarito: FFE6AB
clarito faded: */


.navbar,
footer {
    background-color: #DD4740;
}

.nav-link,
.nav-link disabled {
    color: #FFE6AB;
}

header .nav-link:hover {
    color: #DD4740;
    background-color: #ffe6abb2;
    border-radius: 0.2rem;
}

footer .nav-link:hover {
    color: black;
}
.navbar-toggler {
    background-color: #ffe6abb2;
}

#boton {
    border: solid 0.1rem #DD4740;
    border-radius: 0.5rem;
}

/*home*/
#linkHome {
    list-style: none;
    text-decoration: none;
    color: #DD4740;
    background-color: #ffe6abb2;
    border-radius: 0.5rem;
}

#linkHome:hover {
    color: #FFE6AB;
    background-color: #dd484088;
}

/*comer*/
#cartaComida {
    background-image: url(./images/eat-bg.jpeg);
    background-size: cover;
}

/*beber*/
#cartaBebida {
    background-image: url(./images/drink-bg.jpeg);
    background-size: cover;
}

/*contacto*/
#linkContacto {
    color: black;
    text-decoration: none;
    border: 0.1rem solid #DD4740;
    border-radius: 0.2rem;
}
