/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

h1 {
    font-family: 'Arvo', serif;
    color: white;
}

body {
    font-family: 'Cormorant Garamond', serif;
}

#cartaComida {
    background-image: url(./images/eat-bg.jpeg);
}

.navbar, footer {
    background-color: #ce331f;
}

.nav-link {
    color: antiquewhite;
}

.nav-link:hover {
    color: black;
}

