/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

h1 {
    font-family: 'Arvo', serif;
    color: white;
}

body {
    font-family: 'Cormorant Garamond', serif;
}

/*colores*/

/*machete de colores
rojo: DD4740
clarito faded: */


.navbar,
footer {
    background-color: #DD4740;
}

.nav-link,
.nav-link disabled {
    color: antiquewhite;
}

.nav-link:hover {
    color: black;
}

.navbar-toggler {
    background-color: antiquewhite;
}

#boton {
    border: solid 0.1rem #DD4740;
    border-radius: 0.5rem;
}

/*home*/
#linkHome {
    list-style: none;
    text-decoration: none;
    background-color: rgba(250, 235, 215, 0.836);
    border-radius: 10px;
}

#linkHome:hover {
    color: #ce331f;
}

/*comer*/
#cartaComida {
    background-image: url(./images/eat-bg.jpeg);
}

/*beber*/
#cartaBebida {
    background-image: url(./images/drink-bg.jpeg);
}

/*contacto*/
button:hover {
    color: #DD4740;
}

main a {
    color: black;
    text-decoration: none;
    border: 0.1rem solid #DD4740;
    border-radius: 0.2rem;
}