/*colores**/

$color-marca: #DD4740;
$color-gold: #EBA83A;
$color-light: #FFF8D9;
$color-dark: #4A3933;
$color-faded: #fff8d99f;

/*override bootstrap variables*/


/*header*/



/*beber*/
$list-group-color: $color-dark;
$list-group-bg: $color-faded;