/*generales*/
header .nav-link:hover {
    background-color: $color-faded;
    border-radius: 0.2rem;
}


.titulo {
    text-decoration: none;
    color: $color-marca;
    &:hover {
        color: $color-dark;
    }
}

/*bordes*/
@mixin bordeEspecial {
    border: 0.3rem double $color-marca;
    border-radius: 0.5rem;
}

/*cuadros y botones*/
#cuadroComer,
#cuadroBeber {
    @include bordeEspecial;
    text-decoration: none;
    background-color: $color-faded;
    &:hover {
        background-color: $color-light;
    }
}

#cuadroInfoNosotros {
    @include bordeEspecial;
    background-color: $color-faded;
}

#botonForm {
    @include bordeEspecial;
    &:hover {
        background-color: $color-light;
    }
}

#botonWhatsapp {
    @extend #botonForm;
    a {
        text-decoration: none;
        color: $color-dark;
    }
}

/*textos*/
#cursiva {
    font-style: italic;
    text-align: justify;
}

/*imagenes de fondo*/
#cartaComer {
    background-image: url(../images/comida-carta-min.webp);
    background-size: cover;
}

#cartaBeber {
    background-image: url(../images/bebida-carta-min.webp);
    background-size: cover;
}

#fondoNosotros {
    background-image: url(../images/bar-desktop-min.webp);
    background-size: cover;
}

#fondoContacto {
    background-color: $color-faded;
}

/*media queries, para adaptar imagenes index*/
@media screen and (max-width: 768px) {
    #imgIndexDesktop {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #imgIndexMobile {
        display: none;
    }
}