/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');

h1 {
    font-family: 'Arvo', serif;
    color: $color-marca;
}

/*h2, h3 {
    @extend h1;
    text-transform: uppercase;
}*/

body {
    font-family: 'Nixie One', cursive;
}
