@import "colores";
@import "tipografia";
@import "otrasVar";
@import "../node_modules/bootstrap/scss/bootstrap.scss";


/*h1 {
    color: $color-light;
}

header {
    .navbar {
        background-color: $color-marca;
    }
    .nav-link {
        color: $color-light;
        &:hover {
            color: $color-dark;
            background-color: $color-faded;
            border-radius: 0.2rem;      
        }
    }
    .navbar-toggler {
        background-color: $color-faded;
    }   
}

footer {
    background-color: $color-marca;
    .nav-link {
        color: $color-light;
        &:hover {
            color: $color-dark;
        }
    }
}
*/

@mixin borderCartel {
    border: 0.1rem solid $color-gold;
    border-radius: 0.5rem;
}


/*home*/
#linkIndex {
    @include borderCartel;
    text-decoration: none;
    font-size: 2rem; 
    padding: 3rem;   
    color: $color-marca;
    background-color: $color-faded;
    width: 40%;
    text-align: center;
    &:hover{
        color: $color-light;
        background-color: $color-dark;
    }
}

/*comer*/
#cartaComida {
    background-image: url(../images/eat-bg.jpeg);
    background-size: cover;
}

/*beber*/
#cartaBebida {
    background-image: url(../images/drink-bg.jpeg);
    background-size: cover;
}

/*contacto*/
#linkContacto {
    color: $color-dark;
    text-decoration: none;
    border: $color-marca 0.1rem solid;
    border-radius: 0.2rem;
}

#boton {
    border: $color-marca solid 0.1rem;
    border-radius: 0.5rem;
}
